//CLK
NET "clk"   LOC = "E3"	| IOSTANDARD = "LVCMOS33";
#NET "clk" TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz HIGH 50%;

//CLR
NET "CLR" LOC = L16	| IOSTANDARD = "LVCMOS33";

//INI
NET "INI" LOC = J15 | IOSTANDARD = LVCMOS33;

//SWITCHES
NET "D[0]" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "D[1]" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "D[2]" LOC = R16 | IOSTANDARD = LVCMOS33;
NET "D[3]" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "D[4]" LOC = H6 | IOSTANDARD = LVCMOS33;
NET "D[5]" LOC = U12 | IOSTANDARD = LVCMOS33;
NET "D[6]" LOC = U11 | IOSTANDARD = LVCMOS33;
NET "D[7]" LOC = V10 | IOSTANDARD = LVCMOS33;

#//LEDS
#NET "D[0]" LOC = H17 | IOSTANDARD = LVCMOS33;
#NET "D[1]" LOC = K15 | IOSTANDARD = LVCMOS33;
#NET "D[2]" LOC = J13 | IOSTANDARD = LVCMOS33;
#NET "D[3]" LOC = N14 | IOSTANDARD = LVCMOS33;
#NET "D[4]" LOC = R18 | IOSTANDARD = LVCMOS33;
#NET "D[5]" LOC = V17 | IOSTANDARD = LVCMOS33;
#NET "D[6]" LOC = U17 | IOSTANDARD = LVCMOS33;
#NET "D[7]" LOC = U16 | IOSTANDARD = LVCMOS33;

//DISPLAY
NET "DISP[6]" LOC = T10 | IOSTANDARD = LVCMOS33; 
NET "DISP[5]" LOC = R10 | IOSTANDARD = LVCMOS33;
NET "DISP[4]" LOC = K16 | IOSTANDARD = LVCMOS33;
NET "DISP[3]" LOC = K13 | IOSTANDARD = LVCMOS33;
NET "DISP[2]" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "DISP[1]" LOC = T11 | IOSTANDARD = LVCMOS33;
NET "DISP[0]" LOC = L18 | IOSTANDARD = LVCMOS33;