//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 30 10:45:09 2018
//! **************************************************************************

SCHEMATIC START;
COMP "INI" LOCATE = SITE "J15" LEVEL 1;
COMP "D<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "D<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "D<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "D<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "D<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "D<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "D<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "D<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "DISP<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "DISP<1>" LOCATE = SITE "T11" LEVEL 1;
COMP "DISP<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "DISP<3>" LOCATE = SITE "K13" LEVEL 1;
COMP "DISP<4>" LOCATE = SITE "K16" LEVEL 1;
COMP "DISP<5>" LOCATE = SITE "R10" LEVEL 1;
COMP "DISP<6>" LOCATE = SITE "T10" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "CLR" LOCATE = SITE "C12" LEVEL 1;
SCHEMATIC END;

