//! **************************************************************************
// Written by: Map P.20131013 on Fri Dec 07 10:48:56 2018
//! **************************************************************************

SCHEMATIC START;
COMP "DATAIN<3>" LOCATE = SITE "N14" LEVEL 1;
COMP "DATAIN<4>" LOCATE = SITE "R18" LEVEL 1;
COMP "DATAIN<1>" LOCATE = SITE "K15" LEVEL 1;
COMP "DATAIN<2>" LOCATE = SITE "J13" LEVEL 1;
COMP "DATAIN<0>" LOCATE = SITE "H17" LEVEL 1;
COMP "DATAIN<9>" LOCATE = SITE "T15" LEVEL 1;
COMP "DATAIN<7>" LOCATE = SITE "U16" LEVEL 1;
COMP "DATAIN<8>" LOCATE = SITE "V16" LEVEL 1;
COMP "DATAIN<5>" LOCATE = SITE "V17" LEVEL 1;
COMP "DATAIN<6>" LOCATE = SITE "U17" LEVEL 1;
COMP "DATAIN<15>" LOCATE = SITE "V11" LEVEL 1;
COMP "DATAIN<10>" LOCATE = SITE "U14" LEVEL 1;
COMP "DATAIN<11>" LOCATE = SITE "T16" LEVEL 1;
COMP "DATAIN<12>" LOCATE = SITE "V15" LEVEL 1;
COMP "DATAIN<13>" LOCATE = SITE "V14" LEVEL 1;
COMP "DATAIN<14>" LOCATE = SITE "V12" LEVEL 1;
COMP "CLK" LOCATE = SITE "E3" LEVEL 1;
COMP "CLR" LOCATE = SITE "J15" LEVEL 1;
SCHEMATIC END;

