NET "CLK" LOC ="E3"  | IOSTANDARD = "LVCMOS33";
NET "CLR" 	  LOC ="J15" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<0>" LOC ="H17" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<1>" LOC ="K15" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<2>" LOC ="J13" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<3>" LOC ="N14" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<4>" LOC ="R18" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<5>" LOC ="V17" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<6>" LOC ="U17" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<7>" LOC ="U16" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<8>" LOC ="V16" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<9>" LOC ="T15" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<10>" LOC ="U14" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<11>" LOC ="T16" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<12>" LOC ="V15" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<13>" LOC ="V14" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<14>" LOC ="V12" | IOSTANDARD = "LVCMOS33";
NET "DATAIN<15>" LOC ="V11" | IOSTANDARD = "LVCMOS33";
